:root {
    --bulma-family-primary: "JetBrains Mono", monospace !important;
    --bulma-family-code: var(--bulma-family-primary);
    --bulma-hr-background-color: var(--bulma-grey-light);
    font-optical-sizing: auto;
    font-weight: 300;
}

p.title {
    font-weight: 700;
    /*font-family: "JetBrains Mono", monospace !important;*/
}
div.content {
    font-weight: 300;
}

.modifier {
    width: 1.7rem;
    line-height: 1.7rem;
    border-radius: 0.5rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.protected {
    background-color: #ffff3d;
    color: black;
}
.protected::before {
    content: "#";
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.5rem;
}

body {
    padding: 4vw
}

li {
    list-style-type: none;
}

/*.inherited {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 5rem;
}
.inherited-container {
    position: relative;
}*/

.columns {
    align-items: center;
}
.inherited::before {
    content: "\1F810";
    font-size: 4rem;
}

pre {
    white-space: pre-wrap;
}