article.tile {
    font-family: "JetBrains Mono", monospace !important;
    font-optical-sizing: auto;
    font-style: normal;
}

p.title {
    font-weight: 700;
    font-family: "JetBrains Mono", monospace !important;
}
div.content {
    font-weight: 300;
}

.modifier {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.protected {
    background-color: #595900;
    color: yellow;
    border: solid #abad00;
}
.protected::before {
    content: "#";
}

#editor {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
}

body {
    padding: 4vw
}

li {
    list-style-type: none;
}